body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #003366;
  color: white;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
}

.top-image {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
  }
.photo-list {
    display: flex;
    gap: 15px;
  }
  
.photo-list img {
    width: 100%;
    max-width: 300px;
  }
.news-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
.member {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
.member img {
    width: 100px;
  }
/* ===== 部員紹介 ===== */

.grade {
    margin-bottom: 40px;
  }
  
  .grade h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  
  .member-row {
    display: flex;
    gap: 20px;
  }
  
  .member-card {
    text-align: center;
  }
  
  .member-card img {
    width: 150px;
    height: auto;
  }

.site-header {
    background: #fff;
    border-bottom: 1px solid #ddd;
  }
  
.header-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.logo img {
    height: 80px;
  }

.global-nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
  }
  
.global-nav a {
    text-decoration: none;
    color: #333;
    padding-bottom: 5px;
  }
  
.global-nav li.active a {
    border-bottom: 3px solid #7b1e1e; /* 赤ライン */
    font-weight: bold;
  }
  
.page-title {
    background: #13267a;
    color: #ffffff;
    padding: 40px 20px;
  }
  
.page-title h1 {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 28px;
  }
  
.page-title span {
    font-size: 16px;
    font-weight: normal;
  }
  

  /* スマホ対応 */
  @media (max-width: 600px) {
    .member-row {
      flex-direction: column;
      align-items: center;
    }
  }
  
  
/* スマホ対応 */
@media (max-width: 600px) {

    nav li {
      display: block;
      margin: 10px 0;
    }
  
    header h1 {
      font-size: 20px;
    }
  
    main {
      padding: 15px;
    }

    .photo-list {
        flex-direction: column;
      }
    .member {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
  }

  
  